<!DOCTYPE html>
`<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <nav th:fragment="navbar" class="navbar">
        <div class="logo">
            <div class="logo-icon">G</div>
            GAMEHAVEN
        </div>
        <div class="nav-links">
            <a href="#" th:href="@{/}">Store</a>
            <a href="#" th:href="@{/library}">Library</a>
            <a href="#" th:href="@{/wishlist}">Wishlist</a>
            <a href="#" th:href="@{/settings}">Settings</a>
        </div>
        <div class="nav-right">
            <a href="#" th:href="@{/profile}">👤</a>
            <a href="#" th:href="@{/search}">Seach</a>
        </div>
    </nav>
</body>
</html>
