<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head><title>Register</title></head>
<body>
<h1>Create account</h1>

<form th:action="@{/register}" th:object="${registerForm}" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    <label>Username
        <input type="text" th:field="*{username}" required>
    </label>
    <label>Password
        <input type="password" th:field="*{password}" required minlength="8">
    </label>
    <label>Repeat password
        <input type="password" th:field="*{confirmPassword}" required>
    </label>

    <button type="submit">Sign up</button>
</form>

<ul>
    <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
</ul>
</body>
</html>
